.tableholder{
	height: 250px;
	overflow: auto;
	margin: 10px;
}

.folderbuttonrow{
	margin: 10px;
}

.col-sm-4{
}

input.time{
	width: 80px;
}

.text{
	width: 100%;
}

#save{
	position: absolute;
	right: 10px;
	top: 5px;
}

.page-header{
	position: relative;
}

.highlight{background: yellow;}

tr { cursor: default; }

.top-buffer{margin-top:50px;}
 
.centered{margin: 0 auto; width: 60%}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}