*.aux
*.lof
*.pdf
*.gz
*.toc
*.log
*.un~
*.fls
*.fdb_latexmk
*.bib
*.blg
*.sdf
*.sln
*.lib
*.pdb
*.vcxproj
*.filters
*.tlog
*.idb
*.log
/certs
*.vs
/client/client/Debug
*.opensdf
/client/client/client/Debug
client/client/client/test.h
ssh.cpp
